In [1]:
import pandas as pd

In [2]:
country_file = '../source/ddf--data_for--population--by--country--year.xlsx'
global_file = '../source/ddf--data_for--population--by--global--year.xlsx'
w4r_file = '../source/ddf--data_for--population--by--world_4region--year.xlsx'

In [3]:
country = pd.read_excel(country_file)
gbl = pd.read_excel(global_file)
w4r = pd.read_excel(w4r_file)

In [ ]:
# datapoints
# there is an issue about country entities. check below

In [4]:
country.head()

   geo     geo.name  year  population
0  afg  Afghanistan  1800     3280000
1  afg  Afghanistan  1801     3280000
2  afg  Afghanistan  1802     3280000
3  afg  Afghanistan  1803     3280000
4  afg  Afghanistan  1804     3280000

In [5]:
country[['geo', 'year', 'population']].to_csv('../../ddf--datapoints--population--by--geo--year.csv', index=False)

In [6]:
gbl.head()

     geo  year  population
0  world  1800  2001569565
1  world  1801   954289674
2  world  1802   958336903
3  world  1803   962618615
4  world  1804   966938115

In [7]:
gbl[['geo', 'year', 'population']].to_csv('../../ddf--datapoints--population--by--global--year.csv', index=False)

In [10]:
w4r.head()

    geo  year  population
0  asia  1800  1284765518
1  asia  1801   636567010
2  asia  1802   639813324
3  asia  1803   643084054
4  asia  1804   646380505

In [11]:
w4r[['geo', 'year', 'population']].to_csv('../../ddf--datapoints--population--by--world_4region--year.csv', index=False)

In [12]:
# entities

In [13]:
country_entities = country[['geo', 'geo.name']].copy()

In [14]:
country_entities = country_entities.drop_duplicates()

In [16]:
country_entities.columns = ['geo', 'name']

In [17]:
country_entities.to_csv('../../ddf--entities--geo--country.csv', index=False)

In [20]:
w4r_ent = w4r[['geo']].copy()

In [21]:
w4r_ent['name'] = w4r_ent['geo'].str.title()

In [25]:
w4r_ent = w4r_ent.drop_duplicates().dropna()

In [26]:
w4r_ent.to_csv('../../ddf--entities--geo--world_4region.csv', index=False)

In [27]:
gbl_ent = pd.DataFrame([['world', 'World']], columns=['geo', 'name'])

In [29]:
gbl_ent.to_csv('../../ddf--entities--geo--global.csv', index=False)

In [32]:
# concepts
# copy concepts from geo_entities_domain repo, and do some little manual edits?

In [42]:
columns = ['concept', 'name', 'concept_type', 'domain', 'drill_up']

cdf = pd.DataFrame([
        ['population', 'Population', 'measure'],
        ['name', 'Name', 'string'],
        ['year', 'Year', 'time'],
        ['domain', 'Domain', 'string'],
        ['drill_up', 'Drill up', 'string'],
        ['geo', 'Geographic locations', 'entity_domain'],
        ['world_4region', 'World regions', 'entity_set', 'geo', '["global"]'],
        ['country', 'Country', 'entity_set', 'geo', '["world_4region"]'],
        ['global', 'global', 'entity_set', 'geo']
    ], columns=columns)

In [43]:
cdf

,concept,name,concept_type,domain,drill_up
0,population,Population,measure,None,None
1,name,Name,string,None,None
2,year,Year,time,None,None
3,domain,Domain,string,None,None
4,drill_up,Drill up,string,None,None
5,geo,Geographic locations,entity_domain,None,None
6,world_4region,World regions,entity_set,geo,"[""global""]"
7,country,Country,entity_set,geo,"[""world_4region""]"
8,global,global,entity_set,geo,None

In [44]:
cdf.to_csv('../../ddf--concepts.csv', index=False)

In [40]:
from ddf_utils.index import create_index_file

In [45]:
create_index_file('../../')

,key,value,file
0,concept,name,ddf--concepts.csv
1,concept,concept_type,ddf--concepts.csv
2,concept,domain,ddf--concepts.csv
3,concept,drill_up,ddf--concepts.csv
4,"geo,year",population,ddf--datapoints--population--by--geo--year.csv
5,"global,year",population,ddf--datapoints--population--by--global--year.csv
6,"world_4region,year",population,ddf--datapoints--population--by--world_4region...
7,geo,name,ddf--entities--geo--country.csv
8,geo,name,ddf--entities--geo--global.csv
9,geo,name,ddf--entities--geo--world_4region.csv

## issue: duplicated countries and country/year pairs

In [5]:
country_entities = country[['geo', 'geo.name']].copy()
country_entities = country_entities.drop_duplicates()

### List of duplicated geo entities

In [12]:
country_entities[country_entities.geo.isin(country_entities[country_entities.duplicated('geo')]['geo'].unique())].sort_values(by='geo')

                geo                          geo.name
11497           caf          Central African Republic
77383           caf              Central African Rep.
14328           cok                           Cook Is
79104           cok                      Cook Islands
16134           cze                    Czech Republic
80135           cze                        Czech Rep.
17397           dom                Dominican Republic
80986           dom                    Dominican Rep.
20224           flk            Falkland Is (Malvinas)
82570           flk       Falkland Islands (Malvinas)
91044           kgz                        Kyrgyzstan
33704           kgz                   Kyrgyz Republic
52611           kna               St. Kitts and Nevis
101882          kna             Saint Kitts and Nevis
90568           kor                       Korea, Rep.
32984           kor                       South Korea
90765   korea_union                     Korea, United
33285   korea_union             United Korea (former)
91197           lao                              Laos
34005           lao                               Lao
102035          lca                       Saint Lucia
52912           lca                         St. Lucia
90413           prk                  Korea, Dem. Rep.
32683           prk                       North Korea
52310           shn                        St. Helena
101719          shn                      Saint Helena
102362          spm          Saint-Pierre-et-Miquelon
53573           spm            St.-Pierre-et-Miquelon
53213         stmar                        St. Martin
102196        stmar                      Saint Martin
102199          vct  Saint Vincent and the Grenadines
53272           vct    St. Vincent and the Grenadines
69100           yem                             Yemen
112046          yem                       Yemen, Rep.
68982     yem_north              North Yemen (former)
111998    yem_north      Yemen Arab Republic (Former)
69041     yem_south              South Yemen (former)
112022    yem_south         Yemen Democratic (Former)

### list of country with no geo name

In [13]:
country_entities[pd.isnull(country_entities.geo)]

        geo          geo.name
101706  NaN  Saint Barthélemy

### duplicated country/year pair

In [25]:
to_concat = []

for i, g in country.groupby(['geo', 'year']).groups.items():
    if len(g) > 1:
        to_concat.append(country.ix[g])

In [27]:
dups = pd.concat(to_concat)

In [32]:
print("the number of duplicated rows: \t", dups.shape[0])
print("the number of total rows: \t", country.shape[0])

the number of duplicated rows: 	 82384
the number of total rows: 	 112623

In [33]:
# pick some of the rows.
dups.head(30)

           geo                  geo.name  year  population
12858      chn                     China  1957   615992182
78265      chn                     China  1957   628412938
62531      tkl                   Tokelau  2089        1586
108032     tkl                   Tokelau  2089        1850
9284       bgr                  Bulgaria  1995     8358116
76111      bgr                  Bulgaria  1995     8356624
11668      caf  Central African Republic  1971     1864757
77407      caf      Central African Rep.  1971     1864764
4458       bhs                   Bahamas  1985      234684
73292      bhs                   Bahamas  1985      234553
28268      isl                   Iceland  1959      171919
87413      isl                   Iceland  1959      172450
16446   cheslo            Czechoslovakia  1961    13763549
80339   cheslo            Czechoslovakia  1961    13778892
655        alb                   Albania  2095     1840408
71069      alb                   Albania  2095     1925021
42107      mng                  Mongolia  2076     4380178
95480      mng                  Mongolia  2076     4506947
7281       btn                    Bhutan  2099      796836
74955      btn                    Bhutan  2099      786172
69436      yug                Yugoslavia  1985    22214111
112270     yug                Yugoslavia  1985    22216101
2134       aia                  Anguilla  2069       13695
71819      aia                  Anguilla  2069       17184
27713      hkg          Hong Kong, China  2006     6855818
87116      hkg          Hong Kong, China  2006     6832989
62465      tkl                   Tokelau  2023        1388
107966     tkl                   Tokelau  2023        1226
14905      cri                Costa Rica  2076     5530104
79430      cri                Costa Rica  2076     5618697