In [1]:
import pandas as pd

In [2]:
country_file = '../source/ddf--data_for--population--by--country--year.xlsx'
global_file = '../source/ddf--data_for--population--by--global--year.xlsx'
w4r_file = '../source/ddf--data_for--population--by--world_4region--year.xlsx'

In [9]:
country = pd.read_excel(country_file)
gbl = pd.read_excel(global_file)
w4r = pd.read_excel(w4r_file)

In [ ]:
# datapoints

In [4]:
country.head()

   geo     geo.name  year  population
0  afg  Afghanistan  1800     3280000
1  afg  Afghanistan  1801     3280000
2  afg  Afghanistan  1802     3280000
3  afg  Afghanistan  1803     3280000
4  afg  Afghanistan  1804     3280000

In [5]:
country[['geo', 'year', 'population']].to_csv('../../ddf--datapoints--population--by--geo--year.csv', index=False)

In [6]:
gbl.head()

     geo  year  population
0  world  1800  2001569565
1  world  1801   954289674
2  world  1802   958336903
3  world  1803   962618615
4  world  1804   966938115

In [7]:
gbl[['geo', 'year', 'population']].to_csv('../../ddf--datapoints--population--by--global--year.csv', index=False)

In [10]:
w4r.head()

    geo  year  population
0  asia  1800  1284765518
1  asia  1801   636567010
2  asia  1802   639813324
3  asia  1803   643084054
4  asia  1804   646380505

In [11]:
w4r[['geo', 'year', 'population']].to_csv('../../ddf--datapoints--population--by--world_4region--year.csv', index=False)

In [12]:
# entities

In [13]:
country_entities = country[['geo', 'geo.name']].copy()

In [14]:
country_entities = country_entities.drop_duplicates()

In [16]:
country_entities.columns = ['geo', 'name']

In [17]:
country_entities.to_csv('../../ddf--entities--geo--country.csv', index=False)

In [20]:
w4r_ent = w4r[['geo']].copy()

In [21]:
w4r_ent['name'] = w4r_ent['geo'].str.title()

In [25]:
w4r_ent = w4r_ent.drop_duplicates().dropna()

In [26]:
w4r_ent.to_csv('../../ddf--entities--geo--world_4region.csv', index=False)

In [27]:
gbl_ent = pd.DataFrame([['world', 'World']], columns=['geo', 'name'])

In [29]:
gbl_ent.to_csv('../../ddf--entities--geo--global.csv', index=False)

In [32]:
# concepts
# copy concepts from geo_entities_domain repo, and do some little manual edits?

In [42]:
columns = ['concept', 'name', 'concept_type', 'domain', 'drill_up']

cdf = pd.DataFrame([
        ['population', 'Population', 'measure'],
        ['name', 'Name', 'string'],
        ['year', 'Year', 'time'],
        ['domain', 'Domain', 'string'],
        ['drill_up', 'Drill up', 'string'],
        ['geo', 'Geographic locations', 'entity_domain'],
        ['world_4region', 'World regions', 'entity_set', 'geo', '["global"]'],
        ['country', 'Country', 'entity_set', 'geo', '["world_4region"]'],
        ['global', 'global', 'entity_set', 'geo']
    ], columns=columns)

In [43]:
cdf

,concept,name,concept_type,domain,drill_up
0,population,Population,measure,None,None
1,name,Name,string,None,None
2,year,Year,time,None,None
3,domain,Domain,string,None,None
4,drill_up,Drill up,string,None,None
5,geo,Geographic locations,entity_domain,None,None
6,world_4region,World regions,entity_set,geo,"[""global""]"
7,country,Country,entity_set,geo,"[""world_4region""]"
8,global,global,entity_set,geo,None

In [44]:
cdf.to_csv('../../ddf--concepts.csv', index=False)

In [40]:
from ddf_utils.index import create_index_file

In [45]:
create_index_file('../../')

,key,value,file
0,concept,name,ddf--concepts.csv
1,concept,concept_type,ddf--concepts.csv
2,concept,domain,ddf--concepts.csv
3,concept,drill_up,ddf--concepts.csv
4,"geo,year",population,ddf--datapoints--population--by--geo--year.csv
5,"global,year",population,ddf--datapoints--population--by--global--year.csv
6,"world_4region,year",population,ddf--datapoints--population--by--world_4region...
7,geo,name,ddf--entities--geo--country.csv
8,geo,name,ddf--entities--geo--global.csv
9,geo,name,ddf--entities--geo--world_4region.csv